*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    
}
.contato{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color:#d4d6d8;
   padding-top: 50px;
   padding-bottom: 50px;
}
.mapa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
/* .mapa2{
    background-color: #092230;
    width: 470px;
    height: 300px;
    margin-top: 30px;
} */
.titulo{
    display: flex;
    justify-content: center;
    color: #115771;
    font-size: 30px;
}
.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
input,textarea{
    margin-top: 10px;
    width: 50%;
    height: 25%;
    padding: 10px;
    border-style: solid;
    border-color: #115771;
    
}
