*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: #115771;
}
.contato{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.mapa2{
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    margin-top: 30px;
}
.titulo{
    display: flex;
    justify-content: center;
    color: #115771;
    font-size: 30px;
}
.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
input,textarea{
    margin-top: 30px;
    width: 50%;
    height: 25%;
    padding: 15px;
    border-style: solid;
    border-color: #115771;
    border-radius: 20px;
}
